@using ShopBanHang.Models;

@{
    ViewBag.Title = "Index";
    CartShop s = ViewData["Cart"] as CartShop;


}
<style>
    tr {
        width: 100%;
    }
</style>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info" style="margin-top: 150px;">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description">Tên sản phẩm</td>
                        <td class="price">Giá bán</td>
                        <td class="price">Số lượng</td>
                        @*<td class="quantity">Số lượng</td>*@
                        <td class="total">Thành tiền</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @{
                            foreach (ChiTietDonHang i in s.SanPhamDC.Values)
                            {
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="@Common.GetIamgeOfProductByID(i.maSP)" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">@Common.GetNameOfProductByID(i.maSP)</a></h4>
                            <p>Mã Sản phẩm: @i.maSP</p>
                        </td>
                        <td class="cart_price">
                            <p>@String.Format("{0:#, ##0 Vnđ}", i.giaBan)</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button" style=" display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center;">
                                @using (Html.BeginForm("Decrease", "Single_products", FormMethod.Post))
                                {
                                    <input type="hidden" name="maSP" value="@i.maSP" />
                                    <button class="cart_quantity_down">-</button>
                                }
                                <input class="cart_quantity_input" type="text" name="quantity" value="@i.soLuong" autocomplete="off" size="2">

                                @using (Html.BeginForm("Increase", "Single_products", FormMethod.Post))
                                {
                                    <input type="hidden" name="maSP" value="@i.maSP" />
                                    <button class="cart_quantity_up">+</button>
                                }
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@s.monneyOfOneProduct(i)</p>
                        </td>
                        <td class="cart_delete">
                            @using (Html.BeginForm("RemoveItem", "Single_products", FormMethod.Post))
                            {
                                <input type="hidden" name="maSP" value="@i.maSP" />
                                <button class="cart_quantity_delete">X</button>
                            }
                        </td>
                    </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Tổng trị giá <span>@s.totalOfCartShop()</span></li>
                        <li>Thuế VAT 10% <span>@((s.totalOfCartShop()*10)/100)</span></li>
                        <li>Phí giao hàng <span>Free</span></li>
                        <li>Tổng thành tiền <span>@(s.totalOfCartShop() - (s.totalOfCartShop() * 10)/100)</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="@Url.Action("Index", "CheckOut")">Check Out</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <link href="~/Content/bootstrap3/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/price-range.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3/responsive.css" rel="stylesheet" />